.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 0px 0px 0px 5px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px;
  border-bottom-color: rgba(75, 161, 255, 1);
  border-top: none;
  margin-bottom: 2vh;
}
.react-autosuggest__input:focus {
  outline: none;
}

body {
  background-color: rgba(155, 34, 48, 0.64);
}

.textField {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
